@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  /* keeps all padding and margin within the actual size of an element*/
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html, body {
  scroll-behavior: smooth;
  width: 100%; 
  overflow-x: hidden;
  min-width: 1000px; 
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  z-index: 100000;
  transition: 0.6s;
}

/* ------ navigation bar ------- */
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style-type: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 500px;
  transition: 0.5s;
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
}

header.sticky ul li a,
header.sticky .logo {
  color: #000;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}
/* ------ navigation bar ------- */

.banner {
  position: relative;
  width: 100%;
  min-height: 130vh;
  padding: 100px;
  background: url(/Users/sammylee/Gallery_Web/images/landscape/polarbear.JPG);
  background-size: cover;
  display: flex;
  align-items: center;
  transition: 0.6s;
  z-index: 2;
}

.banner.active {
  transform: translate(-400px);
}

.content {
  max-width: 600px;
}

.content h2 {
  color: #fff;
  font-size: 2.5em;
  text-shadow: 1px 1px 50px rgb(6 44 76 / 44%);
  margin-bottom: 34px;
}

.content h2 span {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 100px;
}

.content p {
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
  text-shadow: 1px 1px 70px rgb(10 46 101);
}

.content a {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  background: #fff;
  color: #000;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
}

.sci {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 100px;
}

.sci li {
  list-style: none;
}

.sci li a {
  position: relative;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border: 1px solid #fff;
  margin: 10px 0 0;
}

.sci li a:hover {
  background: #fff;
}

.sci li a img {
  max-width: 20px;
  filter: invert(1);
  mix-blend-mode: difference;
}
