/* footer */

.footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 600px;
  background: #7aa0a4;
}

.footer .navigation {
  /* margin: 0px 100px; */
  position: relative;
  width: 30%;
  margin-top: 100px;
}

.footer .navigation .logo {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
}

.footer .navigation ul li {
  list-style-type: none;
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .navigation ul li a {
  text-decoration: none;
  color: #c6e2e5;
  letter-spacing: 1px;
  font-size: 1.2em;
  font-weight: 400;
}

.footer .contact-form {
  position: relative;
  width: 50%;
  margin-top: 100px;
}

.footer .contact-form .title {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  margin: 0px 0px 30px 0px;
}

.footer .contact-form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .contact-form .input-box .box {
  position: relative;
  margin: 0px 0px 30px 0px;
}

.footer .contact-form .input-box .box.w50 {
  position: relative;
  width: 47%;
  padding: 0;
}

.footer .contact-form .input-box .box.w100 {
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0;
  display: flex;
}

.footer .contact-form .input-box .box.w50 input,
.footer .contact-form .input-box .box textarea {
  border: none;
  position: relative;
  border-bottom: 1px solid #c6e2e5;
  background-color: transparent;
  width: 100%;
  color: white;
  padding: 10px;
  outline: none;
  z-index: 9;
}

.footer .contact-form .input-box .box textarea {
  min-height: 120px;
  border: none;
  background: #547c80;
  border-radius: 10px;
}

.footer .contact-form .input-box .box.w100 span {
  padding: 10px;
}

.footer .contact-form .input-box .box span {
  position: absolute;
  left: 0;
  padding: 5px;
  letter-spacing: 1px;
  font-weight: 900;
  color: white;
  transition: 0.3s;
  z-index: 0;
}


.footer .contact-form .input-box .box input:focus ~ span,
.footer .contact-form .input-box .box textarea:focus ~ span {
  transform: translateY(-30px);
  letter-spacing: 1px;
  font-size: 0.8em;
  color: #fff8ad;
}

.footer .contact-form .input-box .box input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #4d848a;
  color: white;
  border: none;
  border-radius: 10px;
  max-width: 150px;
  padding: 12px;
  outline: none;
}

.icon-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container svg {
  width: 50px;
  fill: #c6e2e5;
}
.icon-container svg path#icon-linkedin,
.icon-container svg path#icon-facebook {
  transition: 0.6s;
}

#icon-instagram-gradient {
  opacity: 0;
  display: inline-block;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

#hitBox:hover #icon-instagram-gradient {
  opacity: 1;
}

.icon-container svg:hover path#icon-linkedin {
  transition: 0.6s;
  fill: #0077b7;
}

.icon-container svg:hover path#icon-facebook {
  transition: 0.6s;
  fill: #475993;
}

::placeholder
{
  color: white; 
}

/* ---- footer-------- */
