@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://use.typekit.net/sgc3zba.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.banner{
  position: relative;
  /* margin-top: 50px; */
  width: 100%;
  max-height: 97vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  overflow: hidden;
}

.content{
  position: absolute;
  letter-spacing: 2px;
  margin-left: 50px;
  z-index: 7;
  color: white;
}

.content h2{
  font-family: utopia, serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 7em;
  width: 50%;
  /* padding-left: 10px; */
  margin: 0;
  box-shadow: black;
}

.content p{
  font-size: 1.5em;
  width: 50%;
  font-weight: bolder;
  padding-left: 20px;
}

.background{
  width: 100%;
  display: flex;
  max-height: 100vh;
  overflow: hidden;
}

.background .imgBox{
  width: 60%;
  display:flex;
  max-height: inherit;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  background: gray;
}

.background .imgBox img{
  height: 116%;
  padding-left: 7px;
  margin-top: 47px;
  left: 22px;
  opacity: 74%;
}

.background .block{
  width: 40%;
  display: flex;
  justify-content: left;
  background-color: #1b275f;
  /* z-index: 3; */
}

.background .block img{
  opacity: 19%;
  height: 240%;
  position: relative;
  top: 100px;
  left: -69px;
  /* bottom: 176px; */
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 300px; */
  margin-top: 150px;
  margin-bottom: 50px;
}

.title h1 {
  font-size: 5em;
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  color: D5D5D5;
  letter-spacing: 2px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 26px 100px;
  z-index: 10;
  transition: 0.6s;
  background-color: white;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

header ul li {
  position: relative;
  list-style-type: none;
  margin: 0 30px;
}

header ul li a {
  position: relative;
  margin: 2px;
  text-decoration: none;
  color: #000;
  font-weight: 500px;
  transition: 0.5s;
  font-size: 20px;
}

header ul li a:after, .text a:after{
  display: block;
  content: "";
  border-bottom: solid 2px black;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: 50% 50%;
}

header ul li a:hover{
  color: black;
  text-decoration: none;
}

header ul li a:hover:after, .text a:hover:after {
  transform: scaleX(1);
}

.ReadMore_Box{
  position: relative;
  display:flex; 
  justify-content: center;
}

.ReadMore_Box a{
  width: 10vw; 
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
  box-shadow: 0px 20px 80px 0px rgba(67, 58, 122, 0.1);
}

header.sticky ul li a:after {
  display: block;
  content: "";
  border-bottom: solid 2px black;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: 50% 50%;
}

header.sticky ul li a:hover:after {
  transform: scaleX(1);
}

header.sticky ul li a,
header.sticky .logo {
  color: #000;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* //////////////////////////////////////////////////////////////////////////////// */

.color_block {
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    342deg,
    rgb(27 48 74) 14%,
    rgb(248 240 249) 98%
  );
}

.row{
  margin-bottom: 230px!important; 
}

.text{
  font-family: source-code-pro, monospace;
}

@media(min-width: 787px) {
    
}



