@media (max-width: 700px) {
  /* header section  */
  header {
    height: 150px;
    padding-left: 60px;
  }

  header ul li {
    margin: 0 10px;
  }

  header.sticky {
    height: 70px;
    padding-left: 60px;
  }

  .banner {
    min-height: 100vh;
    padding-top: 170px;
  }

  .content {
    font-size: 0.8em;
    width: 70%;
  }

  /* header section  */

  /* bike stacked image */

  .container {
    margin-right: 200px;
    margin-left: 50px;
    margin-bottom: 400px;
    margin-top: 300px;
  }

  .container .imgBox {
    width: 84%;
    height: 222px;
    margin-bottom: 20px;
    transform: none;
  }

  .container .imgBox img {
    height: 100%;
  }

  .container .skew a {
    transform: none;
  }

  /* bike stacked image */

  .about {
    flex-direction: column;
    height: 800px;
  }

  .about .imgBox {
    width: 100%;
    height: 400px;
  }

  .about .content-about {
    width: 100%;
    height: 300px;
  }

  .sci li a img {
    max-width: 20px;
  }

  .sci li a {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    margin: 10px 0 0;
  }
}

@media (max-device-width: 414px) and (max-device-height: 896px) {
  header {
    height: 200px;
    font-size: 0.8em;
  }

  header .logo {
    font-size: 5em;
  }

  header ul li a {
    font-size: 2.3em;
  }

  header.sticky {
    height: 100px;
  }

  .banner {
    min-height: 90vh;
    padding-top: 200px;
  }

  .content {
    font-size: 1.5vh;
    width: 60%;
  }

  .container {
    margin-right: 200px;
    margin-left: 50px;
    margin-bottom: 400px;
    margin-top: 300px;
  }

  .container .imgBox {
    width: 84%;
    height: 222px;
    margin-bottom: 20px;
    transform: none;
  }

  .container .imgBox img {
    height: 100%;
  }

  .container .skew a {
    transform: none;
  }

  .about {
    flex-direction: column;
    height: 800px;
  }

  .about .imgBox {
    width: 100%;
    height: 400px;
  }

  .about .content-about {
    width: 100%;
    height: 300px;
  }

  .sci li a img {
    max-width: 50px;
  }

  .sci li a {
    width: 100px;
    height: 100px;
    border: 4px solid #fff;
    margin: 100px 0 0;
  }
}
