@media only screen and (max-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {

    header {
    height: 200px;
    font-size: 0.8em;
  }

  header .logo {
    font-size: 5em;
  }

  header ul li a {
    font-size: 2.3em;
    display: flex; 
    
  }

  header ul li
  {
    margin: 0px 20px;
  }

  header.sticky {
    height: 100px;
  }

   .banner
  {
    max-height: 60vh;
  }

  .content p{
      font-size: 2.5em
  }

  .content{
      margin-left: 200px;
  }

  .background .imgBox img{
    height: 80%;
    padding-left: 1200px;
    margin-top: 470px;
    opacity: 74%;
  }

  .background .block img{
    opacity: 29%;
    height: 236%;
    position: relative;
    top: 252px;
    left: -361px;
  }

  
    
}
