@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(bg-blue.jpg);
}

/* body:after{
  content: " ";
  display: block; 
  width: 100%;
  height: ; 
  background-color: #B7DDE1;
}
 */

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  margin-bottom: 200px;
}

.banner .background {
  display: flex;
  width: 100%;
  /* height: 300px; */
  /* min-height: 60vh; */
  /* overflow: hidden; */
}

.banner .background .content {
  width: 30%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .background .content h2 {
  font-size: 3em;
  letter-spacing: 1px;
  padding: 12px;
  border: 3px solid;
}

.banner .background .imgBox {
  width: 70%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner .background .imgBox img {
  width: 50%;
  padding-top: 50px;
}

.footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 600px;
  background: #7aa0a4;
}

.footer .navigation {
  /* margin: 0px 100px; */
  position: relative;
  width: 30%;
  margin-top: 100px;
}

.footer .navigation .logo {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
}

.footer .navigation ul li {
  list-style-type: none;
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .navigation ul li a {
  text-decoration: none;
  color: #c6e2e5;
  letter-spacing: 1px;
  font-size: 1.2em;
  font-weight: 400;
}

.footer .contact-form {
  position: relative;
  width: 50%;
  margin-top: 100px;
}

.footer .contact-form .title {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  margin: 0px 0px 30px 0px;
}

.footer .contact-form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .contact-form .input-box .box {
  position: relative;
  margin: 0px 0px 30px 0px;
}

.footer .contact-form .input-box .box.w50 {
  position: relative;
  width: 47%;
}

.footer .contact-form .input-box .box.w100 {
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
}

.footer .contact-form .input-box .box.w50 input,
.footer .contact-form .input-box .box textarea {
  border: none;
  border-bottom: 1px solid #c6e2e5;
  background-color: #7aa0a4;
  width: 100%;
  color: white;
  padding: 10px;
  outline: none;
}

.footer .contact-form .input-box .box textarea {
  min-height: 120px;
  border: none;
  background: #547c80;
  border-radius: 10px;
}

.footer .contact-form .input-box .box.w100 span {
  padding: 10px;
}

.footer .contact-form .input-box .box span {
  position: absolute;
  left: 0;
  padding: 5px;
  letter-spacing: 1px;
  font-weight: 1;
  color: white;
  transition: 0.3s;
}

.footer .contact-form .input-box .box.w50 input:focus ~ span,
.footer .contact-form .input-box .box.w50 input:valid ~ span {
  transform: translateY(-20px);
  letter-spacing: 1px;
  font-size: 0.8em;
  color: #fff8ad;
}

.footer .contact-form .input-box .box textarea:focus ~ span,
.footer .contact-form .input-box .box textarea:valid ~ span {
  transform: translateY(-30px);
  letter-spacing: 1px;
  font-size: 0.8em;
  color: #fff8ad;
}

.footer .contact-form .input-box .box input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #4d848a;
  color: white;
  border: none;
  border-radius: 10px;
  max-width: 150px;
  padding: 12px;
  outline: none;
}

/* ------ navigation bar ------- */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  z-index: 10;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style-type: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 500px;
  transition: 0.5s;
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
}

header.sticky ul li a,
header.sticky .logo {
  color: #000;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.icon-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container svg {
  width: 50px;
  fill: #c6e2e5;
}
.icon-container svg path#icon-linkedin,
.icon-container svg path#icon-facebook {
  transition: 0.6s;
}

#icon-instagram-gradient {
  opacity: 0;
  display: inline-block;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

#hitBox:hover #icon-instagram-gradient {
  opacity: 1;
}

.icon-container svg:hover path#icon-linkedin {
  transition: 0.6s;
  fill: #0077b7;
}

.icon-container svg:hover path#icon-facebook {
  transition: 0.6s;
  fill: #475993;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 50px 100px; */
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 400px);
  /* grid-column-gap: 120px; */
  grid-row-gap: 250px;
  justify-content: space-evenly;
  margin-bottom: 300px;
  width: 100%;
}

.grid-container .grid-box .grid-imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 30px #d8e2dc;
}

.grid-container .grid-box .grid-imgBox-s1 {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 400px;
}

.grid-container .grid-box .grid-imgBox-s1 img {
  position: relative;
  width: 100%;
  object-fit: cover;
}

.grid-container .grid-box .grid-imgBox-s2 {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 400px;
}

.grid-container .grid-box .grid-imgBox-s2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container .grid-box .content-box .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container .grid-box #content-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  width: 80%;
  height: 80px;
  top: 20px;
  left: 30px;
  box-shadow: 0px 0px 30px #d8e2dc;
  cursor: pointer;
  transition: 0.7s;
}

.grid-container .grid-box #content-box:hover {
  color: #c8553d;
  border-radius: 40px;
}

@media (max-width: 1000px) {
  .banner .background .imgBox img {
    width: 70%;
    padding-top: 60px;
  }

  .banner {
    min-height: 90vh;
  }

  .grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(4, 400px);
    /* grid-column-gap: 120px; */
    grid-row-gap: 250px;
    justify-content: space-evenly;
    margin-bottom: 300px;
  }
}
