@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://use.typekit.net/sgc3zba.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.banner{
  position: relative;
  /* margin-top: 50px; */
  width: 100%;
  max-height: 97vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  overflow: hidden;
}

.content{
  position: absolute;
  letter-spacing: 2px;
  margin-left: 50px;
  z-index: 7;
  color: white;
}

.content h2{
  font-family: utopia, serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 7em;
  width: 100%;
  margin: 0;
}

.content p{
  font-size: 1.5em;
  width: 50%;
  font-weight: bolder;
  padding-left: 20px;
}

.background{
  width: 100%;
  display: flex;
  max-height: 100vh;
  overflow: hidden;
}

.background .imgBox{
  width:50%;
  display:flex;
  max-height: inherit;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  background: gray;
}

.background .imgBox img{
  height: 104%;
  margin-top: 47px;
  opacity: 74%;
}

.background .block{
  width: 50%;
  display: flex;
  justify-content: left;
  background-color: #155867;
  /* z-index: 3; */
}

.background .block img{
  opacity: 23%;
  height: 240%;
  position: relative;
  left: -500px;
  /* bottom: 176px; */
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 300px; */
  margin-top: 150px;
  margin-bottom: 50px;
}

.title h2 {
  font-size: 5em;
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  color: D5D5D5;
  letter-spacing: 2px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 26px 100px;
  z-index: 10;
  transition: 0.6s;
  background-color: white;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

header ul li {
  position: relative;
  list-style-type: none;
  margin: 0 30px;
}

header ul li a {
  position: relative;
  margin: 2px;
  text-decoration: none;
  color: #000;
  font-weight: 500px;
  transition: 0.5s;
  font-size: 20px;
}

header ul li a:after, .text a:after{
  display: block;
  content: "";
  border-bottom: solid 2px black;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: 50% 50%;
}

header ul li a:hover{
  color: black;
  text-decoration: none;
}

header ul li a:hover:after, .text a:hover:after {
  transform: scaleX(1);
}

.ReadMore_Box{
  position: relative;
  display:flex; 
  justify-content: center;
}

.ReadMore_Box a{
  width: 10vw; 
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
  box-shadow: 0px 20px 80px 0px rgba(67, 58, 122, 0.1);
}

header.sticky ul li a:after {
  display: block;
  content: "";
  border-bottom: solid 2px black;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: 50% 50%;
}

header.sticky ul li a:hover:after {
  transform: scaleX(1);
}

header.sticky ul li a,
header.sticky .logo {
  color: #000;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* //////////////////////////////////////////////////////////////////////////////// */

.color_block {
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    342deg,
    rgba(148, 155, 180, 1) 14%,
    rgba(241, 226, 226, 1) 98%
  );
}

.row_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.row_1 .row_1_imgBox {
  width: 35%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 20px 80px 0px rgba(67, 58, 122, 0.2);
  background: rgb(114, 129, 131);
  background: linear-gradient(
    310deg,
    rgba(114, 129, 131, 1) 14%,
    rgba(231, 228, 208, 1) 98%
  );
}

.row_1 .row_1_imgBox img {
  width: 100%;
  position: relative;
  padding: 50px;
}

.row_1 .row_1_context {
  display: flex;
  width: 500px;
  height: 300px;
  padding: 30px;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 20px 80px 0px rgba(67, 58, 122, 0.2);
  position: relative;
  left: -10px;
  top: 50px;
}

.text{
  font-family: source-code-pro, monospace;
}

@media(min-width: 787px) {
    
}



