*{
	margin: 0; 
	padding: 0;
	box-sizing: border-box; 
}

body{
	display: flex;
	justify-content: center;
	align-items:center;
	min-height: 100vh;
	background:#ecf8f8;
}

.box{
	margin: 300px 200px;
	margin-bottom: 100px;
	position: relative;
	width: 1250px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 11fr));
}

.box .card {
	position: relative; 
	display: flex; 
	flex-direction: column;
	background:#fff; 
	margin:10px; 
	overflow:hidden; 

}

.box .card:nth-child(even) 
{
	flex-direction:column-reverse
}


.box .card .imgBox-card{ 
    position: relative; 
    width: 250px; 
    height: 250px;
    background: #000;  
    overflow: hidden; 
}

.box .card .imgBox-card:hover img{
	transform: scale(1.15); 
}

.box .card .imgBox-card img
{
	position: absolute; 
	top: -20px;
	left: 0;
	width: 100%;
	transition: 0.8s;
}

.box .card .content-card{
	position: relative;
	width: 250px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box .card .content-card div
{
	padding: 20px; 
	margin-right: 20px;
	text-align: center; 
	color: #000
}

@media(max-width: 1000px )
{    
    .box{
		grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); 
		margin: 200px 0px;
	}

	.box .card{
		flex-direction:row; 
		margin: 10px 50px; 
	}

	.box .card .content-card div{
		font-size: 1.4em;

	}

	.box .card .content{ 
	    font-size: 1.4em;
	}

	.box .card:nth-child(even) 
	{
	    flex-direction:row-reverse; 

	}

	.box .card .imgBox-card
	,.box .card .content-card
	{
		width: 50%; 
	}
    
    .box .card .imgBox-card img 
    {
    	position: absolute;
    	top: -40px;
    	left: 0;
    	width: 100%;
    	/* height: 100%; */
    }

}
