@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(bg-blue.jpg);
  min-width: 1000px; 
}

/* body:after{
  content: " ";
  display: block; 
  width: 100%;
  height: ; 
  background-color: #B7DDE1;
}
 */

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  margin-bottom: 200px;
}

.banner .background {
  display: flex;
  width: 100%;
}

.banner .background .content {
  width: 30%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .background .content h2 {
  font-size: 3em;
  letter-spacing: 1px;
  padding: 12px;
}

.banner .background .imgBox {
  width: 70%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner .background .imgBox img {
  width: 50%;
  padding-top: 50px;
}

/* ------ navigation bar ------- */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  z-index: 10;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style-type: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 500px;
  transition: 0.5s;
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
}

header.sticky ul li a,
header.sticky .logo {
  color: #000;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 50px 100px; */
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(4, 400px);
  /* grid-column-gap: 120px; */
  grid-row-gap: 250px;
  justify-content: space-evenly;
  margin-bottom: 300px;
  width: 100%;
}

.grid-container .grid-box .grid-imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 30px #d8e2dc;
}

.grid-container .grid-box .grid-imgBox-s1 {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 400px;
}

.grid-container .grid-box .grid-imgBox-s1 img {
  position: relative;
  width: 100%;
  object-fit: cover;
}

.grid-container .grid-box .grid-imgBox-s2 {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 400px;
}

.grid-container .grid-box .grid-imgBox-s2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container .grid-box .content-box .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container .grid-box #content-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  width: 80%;
  height: 80px;
  top: 20px;
  left: 30px;
  box-shadow: 0px 0px 30px #d8e2dc;
  cursor: pointer;
  transition: 0.7s;
}

.grid-container .grid-box #content-box:hover {
  color: #c8553d;
  border-radius: 40px;
}
