body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container {
	position: relative;
	margin-top: 250px;
	max-width: 800px;
	left: 80px; 
	transform: skewY(-20deg);
	
}


.container .imgBox {
	position: relative;
	width: 100%;
	height: 180px;
	transform-origin: bottom;
	transform: skewX(45deg);

}

.container .imgBox img{
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	transition: 0.5s;
	width: 800px;
	height: 180px;
	object-fit: cover;
	object-position: 0px -300px;
	filter: grayscale(1);
	border-radius: 25px;
}

.container .imgBox:hover img:nth-child(3)
{
	transform: translate( 100px, -100px);
	filter: initial;
}

.container .imgBox:hover img:nth-child(2)
{
	transform: translate( 50px, -50px);
	opacity: 0.5;
	filter: initial;
}

.container .imgBox:hover img:nth-child(1)
{
	transform: translate( 0px, 0px);
	opacity: 0.2;
	filter: initial;
}

.container h2 {
	position: relative;
	font-size:  4em;
}

.container .skew{
	transform-origin: top; 
}


.container .skew p {
	font-size: 1.4em;
}

.container .skew a{
	position: relative;
	padding: 10px 30px;
	display: inline-block;
	background: transparent;
	color:#403d39;
	transform-origin: top;
	margin-top: 20px; 
	border: 2px solid #403d39;
	transform: skewX(40deg);
	text-decoration: none;
	letter-spacing: 2px; 
	font-size: 20px;
}

@media(max-width: 1000px )
{
	.container {
		position: relative;
		width: 70%;
		height: 180px;
		transform-origin: bottom;
	    left: 70px; 
        margin: 300px 200px ; 
	}

	.container .imgBox img{
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%;
		transition: 0.5s;
		width: 800px;
		height: 180px;
		object-fit: cover;
		object-position: 0% 50%;
		filter: grayscale(1);
		border-radius: 25px;
	}
}